<div class="main-wrapper">
    <div class="main-header">
        <div class="main-header-logo" style="background-image:url('/images/main_logo.png'); background-size: 95% auto"></div>
        <div class="main-header-description">
            Ешьте с пользой! Интересные собеседники на любой вкус <br/>
            для ваших завтраков, обедов и ужинов.
        </div>
    </div>
    <a href="#user" class="main-login-button">
    </a>
    <div class="main-footer">
        <ul>
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Команда</a></li>
            <li><a href="#">Фидбэк</a></li>
        </ul>
    </div>
</div>