<div class="user-wrapper clearfix">
    <div class="user-profile-wrapper">
        <div class="user-profile-header">
            <div class="user-profile-header-name" contenteditable>Александр</div>
            <div class="user-profile-header-tags-container">
                <input placeholder="Введите #тег интереса" type="text" class="user-profile-header-tags-input"/>
            </div>
        </div>
        <div class="user-profile-tags-wrapper">
            <div class="user-profile-info-interests-container">
                <ul>
                    <li>Живопись</li>
                    <li>Архитектура</li>
                    <li>Программирование</li>
                    <li>Нейронные сети</li>
                    <li>UML</li>
                </ul>
            </div>
        </div>
        <div class="user-profile-about-wrapper">
            <textarea name="" id="" placeholder="О себе"></textarea>
        </div>
        <div class="user-profile-eat-wrapper clearfix">
            <div class="user-profile-eat-container">
                <div class="user-profile-eat-title">Обычно я ем в:</div>
                <div class="user-profile-eat-times">
                    <div class="user-profile-eat-one morning">
                        <input type="time" name="time" value="12:03">
                    </div>
                    <div class="user-profile-eat-one afternoon">
                        <input type="time" name="time" value="16:03">
                    </div>
                    <div class="user-profile-eat-one evening">
                        <input type="time" name="time" disabled>
                    </div>
                </div>
            </div>
            <div class="user-profile-budget">
                <div class="user-profile-eat-title">Бюджет:</div>
                <div class="user-profile-eat-budget-wrapper">
                    <input type="text" class="user-profile-eat-budget-input" value="50"/>
                    <span>-</span>
                    <input type="text" class="user-profile-eat-budget-input" value="100"/>
                </div>
            </div>
        </div>

    </div>
    <div class="user-message-wrapper"></div>
</div>