<div class="user-wrapper clearfix">
    <div class="user-profile-wrapper">
        <div class="user-profile-header">
            <div class="user-profile-header-name" contenteditable>Александр</div>
            <div class="user-profile-header-tags-container">
                <input placeholder="Введите #тег интереса" type="text" class="user-profile-header-tags-input"/>
            </div>
        </div>
        <div class="user-profile-tags-wrapper">
            <div class="user-profile-info-interests-container">
                <ul>
                    <li>Живопись</li>
                    <li>Архитектура</li>
                    <li>Программирование</li>
                    <li>Нейронные сети</li>
                    <li>UML</li>
                </ul>
            </div>
        </div>
        <div class="user-profile-about-wrapper">
            <textarea name="" id="" placeholder="О себе"></textarea>
        </div>
        <div class="user-profile-eat-wrapper clearfix">
            <div class="user-profile-eat-container">
                <div class="user-profile-eat-title">Обычно я ем в:</div>
                <div class="user-profile-eat-times">
                    <div class="user-profile-eat-one morning">
                        <input type="time" name="time" value="12:03">
                    </div>
                    <div class="user-profile-eat-one afternoon">
                        <input type="time" name="time" value="16:03">
                    </div>
                    <div class="user-profile-eat-one evening">
                        <input type="time" name="time" disabled>
                    </div>
                </div>
            </div>
            <div class="user-profile-budget">
                <div class="user-profile-eat-title">Бюджет:</div>
                <div class="user-profile-eat-budget-wrapper">
                    <input type="text" class="user-profile-eat-budget-input" value="50"/>
                    <span>-</span>
                    <input type="text" class="user-profile-eat-budget-input" value="100"/>
                </div>
            </div>
        </div>

    </div>
    <div class="user-message-wrapper">
        <div class="user-map-wrapper">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=49.757664,92.988281&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>
        <div class="user-list">
            <div class="user-list-one">
                <div class="user-list-element-name">Юрий</div>
                <div class="user-list-element-time-range-container">
                    <div class="user-list-element-time-range-element">10:00 - 12:00</div>
                    <div class="user-list-element-time-range-element">14:00 - 15:00</div>
                </div>
                <div class="user-list-similar-tags">
                    <div class="user-list-similar-element similar">UX Design</div>
                    <div class="user-list-similar-element similar">Живопись</div>
                    <div class="user-list-similar-element similar">Психология</div>
                    <div class="user-list-similar-element">Нейронные сети</div>
                    <div class="user-list-similar-element">Атомная физика</div>
                    <div class="user-list-similar-element">Астрономия</div>
                    <div class="user-list-similar-element">Психология дизайна</div>
                </div>
            </div>
            <div class="user-list-one">
                <div class="user-list-element-name">Никита</div>
                <div class="user-list-element-time-range-container">
                    <div class="user-list-element-time-range-element">9:00 - 10:00</div>
                </div>
                <div class="user-list-similar-tags">
                    <div class="user-list-similar-element similar">UX Design</div>
                    <div class="user-list-similar-element similar">Живопись</div>
                    <div class="user-list-similar-element">Бухгалтерия</div>
                    <div class="user-list-similar-element">Экономика</div>
                </div>
            </div>
            <div class="user-list-one">
                <div class="user-list-element-name">Жанна</div>
                <div class="user-list-element-time-range-container">
                    <div class="user-list-element-time-range-element">10:00 - 12:00</div>
                </div>
                <div class="user-list-similar-tags">
                    <div class="user-list-similar-element similar">UX Design</div>
                    <div class="user-list-similar-element similar">Живопись</div>
                    <div class="user-list-similar-element similar">Психология</div>
                    <div class="user-list-similar-element">Нейронные сети</div>
                    <div class="user-list-similar-element">Атомная физика</div>
                    <div class="user-list-similar-element">Астрономия</div>
                    <div class="user-list-similar-element">Психология дизайна</div>
                </div>
            </div>
            <div class="user-list-one">
                <div class="user-list-element-name">Римма</div>
                <div class="user-list-element-time-range-container">
                    <div class="user-list-element-time-range-element">10:00 - 12:00</div>
                </div>
                <div class="user-list-similar-tags">
                    <div class="user-list-similar-element similar">UX Design</div>
                    <div class="user-list-similar-element similar">Живопись</div>
                    <div class="user-list-similar-element similar">Психология</div>
                    <div class="user-list-similar-element">Нейронные сети</div>
                    <div class="user-list-similar-element">Атомная физика</div>
                    <div class="user-list-similar-element">Астрономия</div>
                    <div class="user-list-similar-element">Психология дизайна</div>
                </div>
            </div>
            <div class="user-list-one">
                <div class="user-list-element-name">Юрий</div>
                <div class="user-list-element-time-range-container">
                    <div class="user-list-element-time-range-element">10:00 - 12:00</div>
                    <div class="user-list-element-time-range-element">14:00 - 15:00</div>
                </div>
                <div class="user-list-similar-tags">
                    <div class="user-list-similar-element similar">UX Design</div>
                    <div class="user-list-similar-element similar">Живопись</div>
                    <div class="user-list-similar-element similar">Психология</div>
                    <div class="user-list-similar-element">Нейронные сети</div>
                    <div class="user-list-similar-element">Атомная физика</div>
                    <div class="user-list-similar-element">Астрономия</div>
                    <div class="user-list-similar-element">Психология дизайна</div>
                </div>
            </div>
        </div>

    </div>
</div>