@import 'normalize.css'

*
    box-sizing border-box

html, body
    max-height 100%
    height: 100%
    overflow: hidden

.container,
.user-wrapper,
.user-profile-wrapper,
.user-message-wrapper
    height: 100%